<!DOCTYPE html>
<html>
    <head>
        <title>BOOKS </title>
        

    </head>
    <h1>Register if You are New Here</h1>

    <form action="action_page.php" method="post">
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Create Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Create Password" name="psw" required>
    
        <button type="submit">Login</button>
        
    
      <div class="container" style="background-color:#f1f1f1c7">
       
        <span class="psw">Login <a href="login.html">Here</a> if you already have an account</span>
      </div>
    </form> 
    

    <body>
   Welcome
    </body>
</html>
